{{>tables}}

<div class="card">
    <div class="card-header">Nuevo Registro de Aportes</div>
    <div class="card-body">
        <form method="post" action="/financiero/addaporte" autocomplete="off" id="formulario"
            onsubmit="return validaForm(event);">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="form-floating">
                        <input type="date" name="fecha_registro" id="fecha_registro" class="form-control" autocomplete="off">
                        <label for="fecha_registro"><i class="fas fa-signature fa-fw me-2"></i>Fecha Registro</label>
                    </div>
                </div>
                <div class="col-md-8 mb-4">
                    <div class="form-floating">
                        <select class="form-select" name="producto_financiero" id="producto_financiero">
                            <option value="">Selecciona Producto</option>
                            {{#each cactivos}}
                            <option value="{{cuenta_activo}}">{{code_name}}</option>
                            {{/each}}
                        </select>
                        <label for="producto_financiero"><i class="fas fa-signature fa-fw me-2"></i>Producto Financiero</label>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-floating">
                        <input type="text" name="ingreso" id="ingreso" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        <label for="ingreso"><i class="fas fa-dollar fa-fw me-2"></i>Valor del Aporte</label>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-floating">
                        <input type="text" name="cuenta_contable" id="cuenta_contable" class="form-control" readonly>
                        <label for="cuenta_contable"><i class="fas fa-dollar fa-fw me-2"></i>Cuenta Contable</label>
                    </div>
                </div>
                <div class="col-md-12 mb-4">
                    <div class="form-floating">
                        <textarea class="form-control" name="description" id="description" style="height:150px;"></textarea>
                        <label for="description"><i class="fas fa-sign fa-fw me-2"></i>Descripción</label>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <div class="card mb-2">
                        <div class="card-header d-flex">
                            <div class="me-4">
                                <h3>Registro Transacción Financiera</h3>
                            </div>
                            <div class="btn-group d-flex justify-content-end">
                                <button type="button" onclick="openFile()" class="btn btn-success"><i
                                        class="fas fa-camera fa-fw"></i></button>
                                <button type="button" onclick="clearImage()" class="btn btn-primary"><i
                                        class="fas fa-trash fa-fw"></i></button>
                            </div>
                        </div>
                        <div class="card-body p-0 m-0 text-center">
                            <input class="d-none" type="file" id="formFile" onchange="preview()">
                            <img id="frame" src="" class="img-fluid" />
                            <input type="hidden" name="image64" id="image64">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-success shadow-sm" type="submit"><i
                            class="fas fa-save fa-fw me-2"></i>Guardar Registro</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + month + "-" + day;
        $('#fecha_registro').val(today);
    })

    $("#producto_financiero").change(function () {
        $("#cuenta_contable").val(this.value);
    })

    function validaForm(evento) {
        var msg = "";
        if ($("#fecha_registro").val() == "") {
            msg = "Debes Ingresar la Fecha para el Registro";
            $("#fecha_registro").focus();
            sendAlert(msg, evento);
        } else if ($("#producto_financiero").val() == "") {
            msg = "Debes Seleccionar el Producto Financiero";
            $("#producto_financiero").focus();
            sendAlert(msg, evento);
        } else if ($("#ingreso").val() == "") {
            msg = "Debes Registrar el Ingreso";
            $("#ingreso").focus();
            sendAlert(msg, evento);
        } else if ($("#formFile").val() == "") {
            msg = "Debes Carga la Fotografía del Registro Financiero";
            $("#formFile").focus();
            sendAlert(msg, evento);
        } else {
            return true;
        }

    }

    document.getElementById("formFile").addEventListener("change", (e) => {
        uploadImage(e);
    })

</script>

{{>end}}