{{>tables}}

<h1>DashBoard Financiero</h1>
<hr>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-header">Cuentas</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <button type="button" class="btn btn-primary w-100 p-4">
                            Activos <span class="bg-white text-dark rounded ps-2 pe-2">{{cactivos}}</span>
                        </button>
                    </div>
                    <div class="col-md-6 mb-2">
                        <button type="button" class="btn btn-info w-100 p-4">
                            Pasivos <span class="bg-white text-dark rounded ps-2 pe-2">{{cpasivos}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-header">Productos</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success w-100 p-4">
                            Disponibles <span class="bg-white text-dark rounded ps-2 pe-2">{{pcount}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>end}}
