<div class="card border-0 w-100 mb-3">
    <div class="card-body">
        <button class="btn btn-light shadow-sm w-100 mt-2 mb-2 text-start"  onclick="loadContent('memr','/congregacional/grupof');"><i class="fas fa-people-group fa-fw ms-2 me-2"></i>Grupos Familiares</button>
        <button class="btn btn-light shadow-sm w-100 mb-2 text-start" onclick="loadContent('memr','/congregacional/members');"><i class="fas fa-table fa-fw ms-2 me-2"></i>Lista de Miembros</button>
    </div>
</div>