<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="ipunsoft">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#467FD0">
    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon.png">
    <link rel="mask-icon" sizes="any" href="/favicon/favicon-32x32.png" color="#467FD0">
    <link rel="manifest" href="/app.manifiest">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/css/leaflet.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/apexcharts.min.js"></script>
    <script src="/js/leaflet.js"></script>
    <script src="/js/main.js"></script>
    <title>IPUNSOFT</title>
</head>

<body>
    <div class="alert alert-danger text-center rounded-0 shadow fixed-top fw-bold" style="display: none;" role="alert"
        id="alerta"></div>
    <div class="preloader">
        <div class="loader text-center">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>

            <div class="indicator">
                <svg width="16px" height="12px">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg>
            </div>
            <div class="logo_preload"></div>
        </div>
    </div>

    <div class="modal fade" id="mainModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 id="modalTitle"></h5>
                </div>
                <div class="modal-body" id="modalBody"></div>
            </div>
        </div>
    </div>

    {{{ body }}}



    {{>end}}

    <div>&nbsp;<br>&nbsp;</div>

    <div class="fixed-bottom bg-primary mt-5 p-2 text-white text-center">
        Powered by iMesh &copy; 2023 - IPUNJE
    </div>



    <script src="/js/pwa.js"></script>
    <script src="/js/status.js"></script>
</body>

</html>